.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fooditem-sidebar{
  border: 0px solid;
}

.navbar-nav{
  background-color: lightskyblue;
}
.navbar-brand{
  background-color: #61dafb;
}

/* body{
  background-image:url(././components/fast-food-delivery-app-on-a-smartphone-with-delivery-man-on-a-scooter-how-to-order-food-online-TAWXP1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
.btn-1{
  background-color: rgba(20, 27, 94, 0.295);
  border-radius: 3rem;
}



